body {
    display: flex; /* 使用 flex 排版 */
    flex-direction: column; /* 垂直排列元素 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    height: 100vh; /* 覆蓋全高度 */
    margin: 0; /* 無邊距 */
    max-width: 100%; /* 調整此值以適應不同寬度的容器 */
    background-color: #f0f0f0; /* 背景色 */
    font-family: Arial, sans-serif; /* 字體 */
}

h1 {
    margin: 20px 0; /* 上下邊距 */
}

#controls {
    display: flex; /* 使用 flex 排版 */
    justify-content: space-between; /* 元素間距分佈 */
    align-items: center; /* 元素垂直居中 */
    width: 100%; /* 控件容器寬度 */
    max-width: 500px; /* 調整此值以適應不同寬度的容器 */
    margin-bottom: 10px; /* 下邊距 */
}
#controls span, #controls button, #controls label, #controls select {
    margin:2px;
}
#bestTime {
    margin-bottom: 20px; /* 下邊距 */
}

#game-container {
    display: grid; /* 使用 grid 排版 */
    grid-template-columns: repeat(10, 30px); /* 定義 10 列，每列寬 40px */
    grid-template-rows: repeat(10, 30px); /* 定義 10 行，每行高 40px */
    gap: 1px; /* 格子間距 */
}

.cell {
    width: 30px; /* 格子寬度 */
    height: 30px; /* 格子高度 */
    background-color: #ccc; /* 背景色 */
    border: 1px solid #999; /* 邊框 */
    display: flex; /* 使用 flex 排版 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    font-size: 20px; /* 字體大小 */
    cursor: pointer; /* 滑鼠指標 */
}

.cell.revealed {
    background-color: #eee; /* 揭示後的背景色 */
    cursor: default; /* 滑鼠指標 */
}

.cell.mine {
    background-color: red; /* 地雷的背景色 */
}

button {
    padding: 10px 20px; /* 內邊距 */
    font-size: 16px; /* 字體大小 */
    cursor: pointer; /* 滑鼠指標 */
    border: none; /* 無邊框 */
    border-radius: 5px; /* 圓角 */
    background-color: #007BFF; /* 按鈕背景色 */
    color: white; /* 按鈕字體顏色 */
}

button:hover {
    background-color: #0056b3; /* 按鈕懸停背景色 */
}

.cell.flagged {
    background-color: #ccc; /* 旗幟格子的背景色 */
    background-image: url('flag.png'); /* 旗幟圖片 */
    background-size: cover; /* 背景圖片大小 */
}
